body{
    height: 100vh;
    overflow-y: hidden;
    background-color: #624E88;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #8967B3;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
input{
    background-color: #624E88;
    border: none;
    border-radius: 5px;
    width: fit-content;    
    font-size: 1.5em;
    color: #E6D9A2;
}
button{
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
}
